/* デフォルトでスピナーを非表示 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type="number"] {
 -moz-appearance: textfield;
}

/* withSpin クラスがある場合はスピナーを表示 */
input[type="number"].withSpin::-webkit-inner-spin-button,
input[type="number"].withSpin::-webkit-outer-spin-button {
 -webkit-appearance: auto;
}

input[type="number"].withSpin {
 -moz-appearance: number-input;
}
