.sticky-table-wrapper {
 @apply p-0 rounded-lg;

 // min-height: 150px;
 overflow: auto;
 white-space: normal;

 @mixin kadoIndex {
  position: sticky;
  z-index: 140;
 }

 table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;

  // thead,
  // tfoot {
  //  @include theadIndex();
  //  // top: 0;

  //  // }
  //  tr {
  //   z-index: 0;
  //  }
  // }

  td {
   @apply border-b-[0.5px]  border-x-0 border-gray-400 px-2 py-2.5;
  }

  th {
   @apply border-b-[0.5px]  border-x-0 border-gray-400 px-2 py-2.5;
   @apply text-gray-600 font-normal text-start;
  }

  thead {
   th,
   td {
    background-color: #ededed;
    @apply text-gray-800  border-gray-500 border-b-[1px] border-x-0;
   }
  }

  tbody {
   tr {
    th:first-child {
     padding-right: 0 !important;
     position: sticky;
     z-index: 100;
     left: 0;
     z-index: 10;
     border-right: 1px dotted #c8c8c8;
    }
   }
  }

  tfoot {
   z-index: 100;
   position: sticky;
   bottom: 0;
  }
 }
}

.vertical {
 writing-mode: vertical-lr;
 text-align: center;
 // width: 20px;
}

.roundedTr {
 font: fallback;
 // Set border-radius on the top-left and bottom-left of the first table data on the table row
 td:first-child,
 th:first-child {
  border-radius: 5px 0 0 5px;
  border-left-width: 1px;
 }

 // Set border-radius on the top-right and bottom-right of the last table data on the table row
 td:last-child,
 th:last-child {
  border-radius: 0 5px 5px 0;
  border-right-width: 1px;
 }

 th,
 td {
  border-top-width: 1px;
 }

 @apply shadow-md;
 border-width: 1px;
 border-radius: 10px;
}
